﻿@model ListModel

@{
    ViewData["Title"] = "Book Library";
}

<h2>Библиотека</h2>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Год</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{int i=1;}
@foreach (var book in Model.Books) {
        <tr>
            <td>
                @i
                
            </td>
            
            <td>
                @book.Name
            </td>
            <td>
                @book.Author
            </td>
            <td>
                @book.Year
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { Id = book.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { Id = book.Id })
            </td>

        </tr>
    i++;


}
    </tbody>
</table>
